<%-include("../partials/header")%>
<h2>Add comment to <%=product.name%></h2>
<form action="/<%=product._id%>/comment" method="POST">
    <div class="form-style">
        
        <label>comment</label>
        <textarea name="comment[post]" placeholder="write your comment here"></textarea>
        <button>submit</button>
    </div>
    
</form>