<%-include("./partials/header")%>
<h2>Add a new product here</h2>
<form action="/" method="post" enctype="multipart/form-data">
    <div class="form-style">
        <div class="form-set">
            <label>Product's category</label>
            <select name="category" required>
                <option disabled selected value> -- select an option -- </option>
                <option value="Livestocks">Livestocks</option>
                <option value="Seedlings">Seedlings</option>
                <option value="Vegetables">Vegetables</option>
                <option value="Food">Food</option>
                <option value="Farm equipments">Farm equipments</option>
                <option value="Others">Others</option>
            </select>
            <label>Name</label>
            <input type="text" name="name" placeholder="Product's name">
            <label>Price</label>
            <input type="text" name="price" placeholder="Product's price">
            <label>Image</label>
            <input type="file" name="image" multiple accept="image/*">
            <label>product's description</label>
            <textarea name="description" placeholder="brief description about product"></textarea> 
            <div class="show">
                <button>Submit</button>
            </div>
        </div>
    </div>
</form>