<head>
    <link rel="icon" type="image/svg+xml" href="pics/logo.png">
    <link rel="stylesheet" href="stylesheet/cover.css">
</head>
<div class="productUser">
        <form action="/search" method="POST">
            <input type="text" name="productSearch" placeholder="search for a product">
            <button>search</button>
        </form>
        <form action="/usersearch" method="POST">
            <input type="text" name="userSearch" placeholder="search for a user">
            <button>search</button>
        </form>
</div>
<% if(currentUser){%>
    <div class="success">
         logged in as <%= currentUser.username %>
    </div>
    
<%}else if(error && error.length > 0){%>
    <div class="error">
        <% error %>
    </div>
    
<% } %>
<div>
    <div class="rectangle">
        <div class="welcome">
            <h2>Welcome to Koye Agricultural Garden</h2>
            <p><a href="/register">sign-up here</a></p>
        </div>
    </div>
</div>
<div class="cover">
    <div class="headings">
        <h1>Your number one hub for the sales of Agricultural commodities in Nigeria</h1>
     </div>   
        <h3>
            Available categories of Agricultural commodities at farm gate price
        </h3>

    
        <ul>
            <li><a class="frontline" href="/livestocks"><h1>Livestocks</h1></a></li><hr>
            <li><a class="frontline" href="/seedlings"><h1>Seedlings</h1></a></li><hr>
            <li><a class="frontline" href="/vegetables"><h1>Vegetables</h1></a></li><hr>
            <li><a class="frontline" href="/food"><h1>Food</h1></a></li><hr>
            <li><a class="frontline" href="/farmequips"><h1>Farm equipments</h1></a></li><hr>
            <li><a class="frontline" href="/others"><h1>Others</h1></a></li><hr>
            <li><a class="frontline" href="/adminpost"><h1>Admin post</h1></a></li><hr>
            <li><a class="frontline" href="/allproduct"><h1>Overall database</h1></a></li>
        </ul>
</div>
